{% extends 'base.html.twig' %}

{% block title %}Hello AllegroController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% for message in app.flashes('info') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}

    {% for all in allegro %}
    <table class="table table-stripped">
        <tr>
            <td> {{ all.name }} </td>
            <td> {{ all.startDate|date("Y/m/d") }} </td>
            <td> {{ all.endDate|date("Y/m/d") }} </td>
            <td> {{ all.fileName }} </td>
            <td> {{ all.directory }} </td>
        </tr>
    </table>
    {% endfor %}


    <h1>Program bonusowy - Prowizja nawet 0,5% - Allegro</h1>

    <div class="container">
        <table class="table table-stripped">
            <thead>
            <tr>
                <td>dzial</td>
                <td>nazwa</td>
                <td>ean</td>
                <td>cena</td>
                <td>min_liczba_sztuk</td>
                <td>prowizja</td>
                <td>poprzednia_cena</td>
                <td>poprzednia_prowizja</td>
                <td>komentarz_cena</td>
                <td>komentarz_prowizja</td>
            </tr>
            </thead>
            <tbody>
            {% for bonus in bonusik %}
            <tr>
                <td>{{ bonus.dzial }}</td>
                <td>{{ bonus.nazwa }}</td>
                <td>{{ bonus.eAN }}</td>
                <td>{{ bonus.cena }}</td>
                <td>{{ bonus.minLiczbaSztuk }}</td>
                <td>{{ bonus.prowizja }}</td>
                <td>{{ bonus.poprzedniaCena }}</td>
                <td>{{ bonus.poprzedniaProwizja }}</td>
                <td>{{ bonus.komentarzCena }}</td>
                <td>{{ bonus.komentarzProwizja }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="example-wrapper">

</div>
{% endblock %}
